{% extends "base.html" %}

{% block content %}

    {% for post in posts %}

        <div class="row">
                <hr>
                <div class="col-md-2 col-sm-3 text-center">
                <a class="story-img" href="#">
                    <img src="https://assets-cdn.github.com/images/modules/logos_page/Octocat.png" style="width: 100px;
                            height: 100px; background-color: #12AB82;
                            color: #fff" class="img-cirlce">
                </a>
            </div>
            <div class="col-md-10 col-sm-9">
                <h3>{{ post.title }}</h3>
                <div class="row">
                    <div class="col-xs-9">
                        <p>{{ post.content | truncatewords:30 }}</p>
                        <p><button class="btn btn-default"
                                   onclick="location.href={{ post.id }}">Read More</button></p>
                        <p>{{ post.published_on }}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}

{% endblock content %}