{% extends "base.html" %}

{% block content %}
        <div class="container">
            <div class="row">

                <div class="col-md-2 col-sm-3 text-center"></div>
                <a class="story-img">
                    <img class="img-cirlce" src="https://assets-cdn.github.com/images/modules/logos_page/Octocat.png"
                         style="width: 100px;
                             height: 100px;
                             background-color: #FFFFFF;">
                </a>


                <div class="col-md-9 col-sm-11 col-xs-offset-3">
                    <h3>{{ post.title }}</h3>
                    <div class="row">
                        <div class="col-xs-9">
                            <figure class="img-container">
                                {% if post.image %}
                                    <img src="{{ MEDIA_URL }}{{ post.image }}">
                                {% endif %}
                            </figure>
                            <p>{{ post.content }}</p>
                            <p><button class="btn btn-default" onclick="location.href='/'">Back To Blog</button></p>
                            {% if user.id == author.id %}
                                <p><button class="btn btn-default" onclick="location.href='edit'">Edit</button></p>
                            {% endif %}
                            <p>{{ post.created_on }} | <strong>Views</strong> {{ post.views }} | <strong>Tags</strong> {{ post.tag }}</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
{% endblock content %}